<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa7rGOYpz7kI4fb59nKgN_deNa5dX_pR8</string>
	<key>GCM_SENDER_ID</key>
	<string>809386236419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.development.Wallapp</string>
	<key>PROJECT_ID</key>
	<string>stillscenes-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>stillscenes-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809386236419:ios:83732fe29e68936bc54c36</string>
</dict>
</plist>